<% include header.ejs %>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <img src="img/logo.png" style="float: right; position:relative; top:60px">
    <h1>Pocitová mapa</h1>
    <ul>
        <li>Prostorová anketa na mapovém či fotkovém podkladu
        <li>Nástroj pro debatu o veřejném prostoru 
        <li>Probudí zájem o místo, kde žijeme 
        <li>Nástroj k odhalení potenciálu a slabin v území
        <li>Metoda sběru dat
        <li>Podklad pro jednání s odpovědnými institucemi
    </ul>
    <p style="text-align:center"><a class="btn btn-primary btn-large" href="maps/design">Vytvořit mapu &raquo;</a></p>
</div>

<hr>

<footer>
    <p><span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">&copy;</span> Započato v rámci <a href="http://wiki.gug.cz/rhok-vol-2">Random Hacks of Kindness</a> 2012. Chcete vidět <a href="https://github.com/RHoK-November-2012/pocitove-mapy">zdrojové kódy</a>?</p>
</footer>

<% include footer.ejs %>