<% include header.ejs %>

<div class="row">
    <div class="span8 offset2">
        <h1><%= title %></h1>
        <hr>
    </div>
</div>
<% if (!user) { %>
<div class="row">
    <div class="span8 offset2 alert alert-error">
        <p>K vytvoření nové mapy je třeba mít na našem serveru účet. Jste-li <a href="/register">zaregistrováni</a>,
            stačí se jen v horní části stránky přihlásit.
    </div>
</div>
<% }; %>
<div class="row">
    <div class="span8 offset2">
        <form class="form-horizontal" id="new_map_form" action="/maps/create" method="post">
            <div class="control-group">
                <label class="control-label" for="inputTitle">Název pocitové mapy:</label>
                <div class="controls">
                    <input type="text" name="title" id="inputTitle" placeholder="Moje pocitová mapa"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputComment">Komentář:</label>
                <div class="controls">
                    <textarea class="span6" name="comment" id="inputComment" cols="60" rows="5"></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputMapSelect">Výběr mapového podkladu:</label>
                <div class="controls">
                    <div id="map_canvas" id="inputMapSelect" class="span6 select_map"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputFeelings">Pocity:</label>
                <div class="controls">
                    <ul class="nav feeling_items">
                        <div id="feeling_prepend"></div>
                    </ul>
                    <div class="row">
                        <div class="span3">
                            <button type="button" class="btn btn-mini pull-right" id="add_new_feeling_button">Přidat další pocit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputPublic">Mapa je veřejná:</label>
                <div class="controls">
                    <input type="checkbox" id="inputPublic" name="public" checked="true"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputCriteria">Anketní otázky:</label>
                <div class="controls">
                    <ul class="nav">
                        <div id="criterion_prepend"></div>
                    <div class="row">
                        <div class="span3">
                            <button type="button" class="btn btn-mini pull-right" id="add_new_criterion_button">Přidat další otázku</button>
                        </div>
                    </div>
                    </ul>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputDateFrom">Datum začátku:</label>
                <div class="controls">
                    <input type="date" name="start"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputDateFrom">Datum konce:</label>
                <div class="controls">
                    <input type="date" name="end"/>
                </div>
            </div>

            <input type="hidden" name="latlon" id="latlon"></input>
            <input type="hidden" name="zoom" id="zoom"></input>

            <div class="control-group">
                <div class="controls">
                    <% if (user) { %>
                    <input type="submit" value="Vytvořit" class="btn"/>
                    <% } else { %>
                    <input type="submit" value="Vytvořit" disabled="disabled" class="btn disabled"/>
                    <% } %>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
var i = 0;
var j = 0;
var map;

function new_feeling_item(i, color, feeling) {
    return '<li class="feeling_item"><div class="input-prepend input-append"> \
    <input type="color" class="colorPicker btn" name="color[' + i + ']" value="'+ color +'"/> \
    <input class="span3" name="feeling[' + i +']" type="text" placeholder="Na tomto místě..." value="' + feeling + '"> \
    <button class="btn remove_feeling" type="button"><i class="icon-remove"/></button> \
    </div></li>';
}

function new_criterion_item(i, question, radio_text, list) {
    var checked_text = "";
    var checked_select = "";
    var select_visibility = 'style="display: none"';
    if (radio_text) {
        checked_text = 'checked="true"';
    } else {
        checked_select = 'checked="true"';
        select_visibility = "";
    }

    var criterion_item = '<li class="criterion_item"> \
        <label class="input-append"><input type="text" name="criterion[' + i + ']" class="span5" placeholder="Otázka na uživatele." value="' + question + '"/><button class="btn remove_criterion" type="button"><i class="icon-remove"></i></button></label> \
        <label class="radio inline"><input type="radio" class="nonradio_select" name="criterion_type[' + i +']" value="text" '+ checked_text +'>Uživatel musí vyplnit text</input></label> \
        <label class="radio inline"><input type="radio" class="radio_select" name="criterion_type[' + i + ']" value="select" '+ checked_select + '>Uživatel vybírá z daných možností</input></label> \
        <div class="select_list" ' + select_visibility + '> \
            <hr><textarea rows="10" class="span3" name="criterion_values[' + i + ']">' + list + '</textarea><span class="help-inline">Vložte na každý řádek jednu možnost.</span> \
        </div> \
    </li>';

    return criterion_item;
}

$(document).ready(function() {
    function initialize() {
        var mapOptions = {
            zoom: 7,
            center: new google.maps.LatLng(49.82380908513248, 15.399462890625),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
    }

    initialize();

    google.maps.event.addListener(map, 'center_changed', function () {
        $("#latlon").val(map.getCenter().toString());
    });

    google.maps.event.addListener(map, 'zoom_changed', function () {
        $("#zoom").val(map.getZoom());
    });

    $("#feeling_prepend").prepend(new_feeling_item(i, "", ""));
    $("#criterion_prepend").prepend(new_criterion_item(j, "", true, ""));
    i++;
    j++;

    $("#add_new_feeling_button").click(function () {
        $("#feeling_prepend").append(new_feeling_item(i, "#000000", ""));
        i++;
    });

    $("#add_new_criterion_button").click(function () {
        $("#criterion_prepend").append(new_criterion_item(j, "", true, ""));
        j++;
    })

    $(".remove_feeling").live('click', function () {
        $(this).parents(".feeling_item").remove();
    });

    $(".remove_criterion").live('click', function () {
        $(this).parents(".criterion_item").remove();
    });

    $(".radio_select").live('click', function () {
        $(this).parents(".criterion_item").find(".select_list").show();
    });

    $(".nonradio_select").live('click', function () {
        $(this).parents(".criterion_item").find(".select_list").hide();
    });

    CKEDITOR.replace('inputComment', {
        toolbar: [
            ['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink']
        ],
    });
})
</script>

<script type="text/javascript" src="/ckeditor/ckeditor.js"/>

<% include footer.ejs %>