<% include header.ejs %>

<div id="panel">
  <button id="pointSelect" class="sel">Misto</button>
  <button id="polylineSelect" class="unsel">Klikata cara</button>
  <button id="polygonSelect" class="unsel">Oblast</button>
  <br>
  <button id="save">Ulozit!</button>
  <br>
  <textarea id="jsonView"></textarea>
</div>

<div id="map"></div>

<% include footer.ejs %>