#map {
  position: absolute;
  left: 40px; top:200px;
  width: 800px;
  height: 600px;
  background-color: white;
  border: 1px solid black;
}

#panel
{
  position: absolute;
  top: 200px; right: 40px;
  width: 200px;
  background-color: gray;
}

button .unsel
{
  background-color: white;
  color: black;
  display: block;
  width: 90px;
  height: 30px;
  margin-top: 10px; margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

button .sel
{
  background-color: black;
  color: white;
  display: block;
  width: 90px;
  height: 30px;
  margin-top: 10px; margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#jsonView
{
  width: 100%;
  height: 400px;
}

.select_map {
    height: 400px;
    margin: 0px;
    padding: 0px;
}

.colorPicker {
    width: 20px;
}

.feeling_item {
    padding-bottom: 10px;
}

.feeling_items {
    margin-bottom: 0;
}

.criterion_item {
    position: relative;
    border: 1px solid #DDD;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

span.help-inline {
    vertical-align: top !important;
}